@import "main.css";

body {
    background-color: var(--light);
    color: var(--dark);
}

h1 {
    color: var(--earth);
    text-shadow: 1px 1px var(--golden);
}

h2 {
    color: var(--golden);
    text-shadow: 0.5px 0.5px var(--earth);
}

#head {
    background: linear-gradient(0deg, var(--forest-rgba) 0%, var(--beige-rgba) 2.5%);
}

#main-container {
    background: linear-gradient(180deg, var(--golden-rgba) 0, var(--beige-rgba) 4px, var(--light-rgba) 16px);
}
