:root {
    --light-bg: 	#f4f2f0;
	--accent: 		#99cc00;
	--accent-rgba:	rgba(153,204,0,1);
	--highlight:	#bd9975;
	--text:			#140d06;
	--head-font:	Georgia, serif;
	--hf-weight:	100;
	--main-font:	Verdana, sans-serif;
	--mf-weight:	100;
}

body {
    background-color: var(--light-bg);
    color: var(--text);
    font-family: var(--main-font);
	font-weight: var(--mf-weight);
    line-height: 1.5;
}

h1 {
    font-family: var(--head-font);
	font-weight: var(--hf-weight);
    font-size: 48px;
    text-align: center;
}
h2 {
    color: var(--highlight);
	font-weight: bolder;
    text-align: center;
}

hr {
	background-color: var(--accent);
	height: 1.5px;
	border: none;
	margin: 0;
}

#head {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
	background: linear-gradient(0deg, var(--accent-rgba) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 80%, rgba(0,153,204,1) 100%);
}

h1#site_title {
	grid-row-start: 1;
	grid-column-start: 2;
	align-self: end;
	margin-bottom: 16px;
}

h2#site_subtitle {
	grid-row-start: 2;
	grid-column-start: 2;
	align-self: start;
	margin-top: 8px;
}

img.head_img {
	height: 196px;
	grid-row-start: 1;
	grid-row-end: span2;
	justify-self: center;
	align-self: end;
}
img.head_img.left {
	grid-column-start: 1;
}
img.head_img.right {
	grid-column-start: 3;
  	transform: scaleX(-1);
  	-webkit-transform: scaleX(-1);
}
